@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&family=Open+Sans:wght@500&family=Recursive&family=Rowdies:wght@300&display=swap');

/* @media screen and (max-width: 700px){
    header, footer{
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (mix-width:700){
    header, footer{
        align-items: center;
        justify-content: center;
    }
}  */


body{
    text-align: center;
    color:#5F4944;
    font-family: 'Open Sans', sans-serif
}
header,footer{
    background-color: #E7D7C1;
}
h1{
    color: #5F4944;
    text-align: center;
}
h2{
    margin:2rem;
}
a{
    color: #5F4944
}
a:hover{
    color: #AFBC88
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a{
    display: block;
	padding: 0.50rem;
	text-decoration: none;
}
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    font-size: 22px;
}


main{
    background-color: #83AFA8;
    margin-bottom: 1.5rem;
}

@media screen and (max-width:550px){
    ul{
        display: block;
    }}

@media screen and (min-width:1100px){
    main{margin-right: 10rem;
         margin-left: 10rem;}
}