@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    font-family: 'Lora', serif;
    background-color: #FDE2C4;
}

.c1{color: #02033B;background-color: #FDE2C4;}
.c2{color:#CC5200; background-color: #FDE2C4;}
.c3{color:#FDE2C4; background-color: #02033B;}
.c4{color:white; background-color: #02033B;}