
@media screen and (min-width:480px) and (max-width:800px) {
   #parent {
       display: block;
       
   }
   div#first{
    background-color: #AFBC88;
    margin: 10px;
    border-color: black;
}
  }