@media screen and (max-width:800px) {
#header{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
    }
#logo {
    width:100px;
    grid-template-columns: 2/3;
    margin-left: 100px;

}
.social img {
    grid-template-columns: 4/5;
    width: 55px;
}
.social{
   margin-right: -20px;
   text-align: right;
}
h1{
    grid-template-columns: 3/4;
    margin-left: 45px;
    font-family: 'Lora', serif;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    justify-content: center;
    font-family: 'Lora', serif;
}

.container {
    position: relative;
    margin: 3rem;
    padding: 3rem;
    height: 600px;
    text-align: center;
    border: 3px solid black;
    border-radius: 1em;
    background-color: beige;
}

.container h1 {
    margin-bottom: 2rem;
}

.menu-items {
    z-index:1;
    text-align: center;
    position: absolute;
    padding:20px;
    margin-top: -115px;
    margin-left: -90px;
    top: 13rem;
    left: 7.5rem;
    list-style: none;
    opacity: 0;
    font-size: 2rem;
    border: 4px solid black;
    background-color: black;
    border-radius: 0.25em;
    transform: translateX(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
}

.menu-items li{
    color: #e37d39;
    padding: 0.5rem;
}

.menu-items li a{
    color: #e37d39;
    text-decoration: none;
}

.menu-items li a:hover{
    color: rgb(174, 174, 174);
}

.check {
    position: absolute;
    height: 3rem;
    width: 3rem;
    margin-left: 1.7rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    height: 3rem;
    width: 3rem;
    position: absolute;
    padding: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 0.25em;
    /*square*/
    margin-left: 30px;
}

.ham-menu .line {
    background-color: #e37d39;
    border-radius: 1em;
    width: 2rem;
    height: 0.25rem;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}

.check:checked~.ham-menu .line1 {
    display: block;
    transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
    opacity: 0;
}

.check:checked~.ham-menu .line3 {
    display: block;
    transform: rotate(-45deg);
}

/* BODY */
.d1{
    margin: 8px;
    position: relative;
}
.d1 img{
    height:300px;
    width:100%;
    object-fit: cover;
    /* background-image: url("images/kure.webp"); */
}
.d1 h2{
    position: absolute;
    top:0;
    left:0;
    font-size:25px;
    color: #02033B;
    margin:15px;
    font-family: 'Lora', serif;
    margin-top: -5px ;
    
}
.d1 a{
    position: absolute;
    text-decoration: none;
    top: 65%;
    left:45%;
    font-size:30px;
    color: #02033B;
    padding:10px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Lora', serif;
}
.new_release{
    margin: 8px;
    background-color: white;
    padding: 15px;
}
.new_release h2{
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #e37d39;
    
    text-align: center;
}
.new_release p{
    font-family: 'Lora', serif;
    text-align: center;
    color:#e37d39;
}
#weather{
    background-color: white;
    margin-right:35px;
    margin-left:35px;
    text-align: center;
}
#weather p{
    font-family: 'Lora', serif;
    color:#e37d39;
}
#weather h2{
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #e37d39;
    
}
#weather img{
    width:100px;
    margin: -20px;

}
.temp {
    display: flex;
    justify-content: space-around;
  }
  .temp p{
    font-size: 2em;
  }
  #weather span {
    padding-left: 10px;
  }
.join{
    display:none;
    background-color: white;
    margin:8px;
    padding: 20px;
}
.join h2{
    text-align: center
}
.join h2 a{
    padding-left: 50px;
    padding-right: 50px;
    color:#e37d39;
    font-size:30px;
    text-decoration: none;
    background-color: #DAA9AC;
    border-radius: 20px;
    font-family: 'Lora', serif;
    
}
.join p{
    font-family: 'Lora', serif;
    text-align: center;
    color:#e37d39;
}
.event{
    background-color: white;
    margin:8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.event h2{
    color:#02033B;
    text-align: center;
    font-family: 'Lora', serif;
    font-size:30px;
    grid-column: 1/2;
}
.event img{
    width: 125px;
    grid-column: 2/3;
}
#reason{
    display: none;
}
.s{
    background-color: #83AFA8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.s1{
    background-color: white;
    margin:8px;
    text-align: center;
    padding-bottom: 10px;
    
}
.s1 h2{
    padding:15px;
    color: #e37d39;
    font-size : 40px;
    
}
.s1 img{
    width:300px;
}
.s1 p{
    color:#e37d39;
    font-family: 'Lora', serif;
    font-size: 18px;
}
.s2{
    background-color: white;
    margin:8px;
    text-align: center;
    padding-bottom: 10px;
}
.s2 h2{
    padding:15px;
    color: #e37d39;
    font-size : 40px;
    
}
.s2 img{
    width:300px;
}
.s2 p{
    font-size: 18px;
    color:#e37d39;
    font-family: 'Lora', serif;
}

.s3{
    display:none;
    background-color: white;
    margin:8px;
    text-align: center;
    padding-bottom: 10px;
}
.s3 h2{
    padding:15px;
    color: #e37d39;
    font-size : 30px;
    
}
.s3 img{
    width:300px;
}
.s3 p{
    color:#e37d39;
    font-family: 'Lora', serif;
}

/*Footer*/
footer{
    color: white;
    background-color: #cd1815;
    margin-top:  3rem;
    
  }
  #parent{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  #parent h2{
    padding: 1rem;
  }
  #last{
    text-align: center;
    border-top: 1px solid;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  #parent img{
    width: 250px;
    padding-top: 4rem;
    padding-left: 1rem;
  }
  .info{
      display: none;
  }
  .n3 p{
    padding: 0.5rem;
    font-size: 20px;
    font-family: 'Lora', serif;
    
  }
    .n3 p a {
    color: white;
    padding: 1rem;
    text-decoration-line: none;
  }
  .n3 p a:hover{
    color: white;
  }
}
